body {
	margin: 0;
}

#search {
	width: 100%;
	display: flex;
}

#search-box {
	flex-grow: 1;
	height: 50px;
}

#app {
	width: 100%;
	display: flex;
}

#list {
	order: 1;
	flex-grow: 1;
	background-color: #F00;
}

#map {
	order: 2;
	flex-grow: 4;
	background-color: #0F0;
}