body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

#search {
	width: 100%;
	display: flex;
}

#search-box {
	flex-grow: 1;
	height: 50px;
	font-size: 1em;
	padding: 5px 20px;
}

#app {
	width: 100%;
	display: flex;
}

#list {
	order: 1;
	flex-grow: 1;
	background-color: #055;
}

#map {
	order: 2;
	flex-grow: 4;
	background-color: #0F0;
}

#results {
	margin: 0;
	padding: 0;
}

#place {
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #088;
}